* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-navigation {
    width: 100vw;
    height: 6vh;
    background-color: #363636;
}

.button-open {
    width: 3%;
    height: auto;
    margin-left: 20px;
}

.container-menu {
    width: 25vw;
    height: 30vh;
    background-color: #C0C0C0;
    position: absolute;
    top: 0px;
    display: none;
    box-shadow: 2px 2px 2px #1C1C1C;
    border-radius: 0px 10px 10px 10px;
}

.button-close {
    width: 6%;
    height: auto;
    margin-left: 28px;
    margin-top: 8px;
}

.menu {
    height: 17vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.list-item {
    font-size: 2em;
    color: #FF0000;
    margin-left: 74px;
    font-family: 'Indie Flower', cursive;
}